<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="includes/autoload.php" colors="true" failOnWarning="true" failOnRisky="true" cacheDirectory=".phpunit.cache">
 <testsuites><testsuite name="unit-security-contract"><directory>tests/Unit</directory><directory>tests/Security</directory><directory>tests/Contract</directory></testsuite></testsuites>
 <source><include><directory>src</directory></include></source>
</phpunit>
